<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}HashRoot task{% endblock %}</title>
</head>
<body>
    {% block content %}
        {% block bloglist %}{% endblock %}
    {% endblock %}
</body>
</html>