{% extends 'base.html' %}
{% block title %}Edit Profile{% endblock %}
{% block content %}
    <p><a href="{% url 'home' %}">Home</a></p>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Save">
    </form>
{% endblock %}