{% extends 'base.html' %}
{% load socialaccount %}
{% block content %}
    {% if user.is_authenticated %}
        <h1>Hello, {{ user.username }}</h1>
        <p><a href="{% url 'edit_profile' %}">Edit Profile</a></p>
        <p><a href="{% url 'write_blog' %}">Write Blog</a></p>
        <p><a href="{% url 'list_blog' %}" >View Blogs</a></p>
        <p><a href="{% url 'account_logout' %}">Log out</a>
    {% else %}
        <p><a href="{% url 'account_signup' %}">Sign Up</a></p>
        <p><a href="{% url 'account_login' %}">Log In </a></p>
        <p><a href="{% provider_login_url 'google' %}">Log In with Gmail</a></p>
    {% endif %}
{% endblock %}
