{% extends 'base.html' %}
{% block title %}Write a blog{% endblock %}
{% block content %}
    <P><a href="{% url 'home' %}">Home</a></P>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Save">
    </form>
{% endblock %}